TW/Estudiar/examenFeb13/2/examen.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
	<!ELEMENT examen (cuestion)+>

	<!ELEMENT cuestion (materia, enunciado, (respuesta)+)>
	<!ATTLIST cuestion 
		codigo 		ID 		#REQUIRED
		autor       CDATA   #REQUIRED
	>

	<!ELEMENT materia (#PCDATA)>
	<!ELEMENT enunciado (#PCDATA)>
	
	<!ELEMENT respuesta (#PCDATA)>
	<!ATTLIST respuesta
		correcta 	(si|no) 	#REQUIRED
	>